.project-card img[src*='github-mark.svg'] {
  height: 1em;
  aspect-ratio: 1/1;
  vertical-align: middle;
}
.project-card {
  width: 100%;
  text-align: start;
  font-size: 12pt;
  padding: 0.2em;
  padding-block-end: 0.5em;
  border-block-end: 1px solid currentColor;
}
.project-card .title {
  font-weight: bold;
}
