.video-card {
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  opacity: 0.5;
  filter: grayscale(1);
  transition: opacity 0.3s, filter 0.3s;
  background-color: #cccccc;
}
.video-card:hover,
.video-card.playing {
  opacity: 1;
  filter: grayscale(0);
}
.video-card .video-thumbnail {
  max-width: 200px;
  max-height: 112px;
  border-radius: 0.5em;
  cursor: pointer;
}
.video-card .video-embed {
  max-width: 200px;
  border-radius: 0.5em;
  border: 0px;
}
.video-card strong {
  display: inline-block;
}
.video-card .lyric-link {
  cursor: pointer;
  text-decoration: underline;
}
